/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Varela Round", sans-serif;
}

.sidebar {
  height: 100vh;
  width: 250px;
  /*background-color: red;*/
  background: linear-gradient(120deg, rgb(192, 3, 3), #352323);
  top: 0;
  left: 0;
  position: fixed;
}

.content {
  margin-left: 300px;
}

.sidebar-header {
  padding: 10px 10px;
}

.sidebar-logo-container {
  /*background-color: black;*/
  border-radius: 8px;
  display: flex;
  padding-left: 3px;
  justify-content: center;
}

.logo-container {
  max-width: 40px;
  background-color: aqua;
  border-radius: 8px;
  margin: 10px;
}

.logo-sidebar {
  width: 100%;
  height: auto;
}

.profile-name-container {
  padding: 0px;
  margin: 10px 10px 9px 5px;
}

.profile-name {
  color: white;
  margin: 0px;
  line-height: 2rem;
}

.navigation-list {
  list-style-type: none;
  padding: 0px 18px;
  margin-top: 20px;
}

.navigation-list-item {
  background-color: red;
  padding: 10px 10px 10px 18px;
  border-radius: 8px;
}
