{% load bootstrap5 %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>OutBreak</title>
    {% endblock title %}

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!---Acrescentar o favicon do Outbreak-->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.png' %}"
      type="image/x-icon"
    />
    <!--Lembrar que talvez precise usar bootstrap icons-->
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <!--Aqui vai o cebeçalho da página-->
    {% block header %} {% endblock header %}
    <!--Aqui vai o conteúdo da página-->
    {% block content%} {% endblock content %}
    <!--Aqui vai o rodapé da página-->
    {% block footer %} {% endblock footer %} {% bootstrap_javascript %}
    <script src="{% static 'scripts.js'%}"></script>
  </body>
</html>
