{% load bootstrap5 %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>OutBreak</title>
    {% endblock title %}

    <!---Acrescentar o favicon do Outbreak-->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.png' %}"
      type="image/x-icon"
    />
    <!--Lembrar que talvez precise usar bootstrap icons-->
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <!--Aqui vai o cebeçalho da página-->
    {% block header %} {% endblock header %}
    <!--Aqui vai o conteúdo da página-->
    {% block content%} {% endblock content %}
    <!--Aqui vai o rodapé da página-->
    {% block footer %} {% endblock footer %} {% bootstrap_javascript %}
    <script src="{% static 'scripts.js'%}"></script>
  </body>
</html>
